html , body
{
    background-color: #fff;
    border-color: aqua;
    margin: auto;
    height: 100%;
    font-family:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header
{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    background-color: #555566;
    height: 70px;
    margin-bottom: 0px ;
    padding-top: 10px;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);
    
}
.logo 
{
    color: whitesmoke;
    margin: 10px;
}
.connexion
{
    float: right;
    width: 12em;
    color: beige;
    padding-right: 1em;
}

.connexion img  
{
    float: right;
    margin-top: 0.5em;
}
.content
{
    margin-top: 5em;
    height: 100%;
}

.left-menu
{
    position: fixed;
    top: 90px;
    height: 100%;
    width: 270px;
    background-color: #666677;
    margin-top: -8px; 
    z-index: 101; 
}


.button_zone
{
    background-color: #adc90a;
    height: 2.5em;    
}

.button_zone button
{
    float: right;
    height: 100%;
    background-color: #adc90a;
    border: none;
}

.icon {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
    margin: 4px;
}
.menu
{
    margin-top: 0px;
    list-style: none;
    padding-left:  0px;
    height: 100%;
}

.menu li
{
    display: block;
    font-size: 19px;
    color: white;
    background-color: #666677;
    border-bottom: solid  gray 2px;
    padding: 1.5em  0;
    text-transform: uppercase;
}

.menu li:hover
{
   background-color: slategray;
    
} 

.menu i
{
    margin: auto 10px;
    float: left;
}

.menu a
{
    text-decoration: none;
    color: white;
    
}
.main
{
    margin-top: 100px;
    margin-left: 280px;
}

.main h1 , h2, h3 , h4 , h5 , p, table
{
    margin-left: 20px;
    padding-left: 0px;
}

.headline
{
    border: solid 1px #ffffff;
    background-color: #eeffff;
    margin: 10px  10px;
    padding-top: 5px;
}

.headline h1
{
    margin-top: 0px;
}

th {
  background-color: #555577;
  color: white;
    height: 3em;
}

td
{
    height: 3em;
}

table {
    text-align: center;
    margin: auto;
    width: 80%;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.section
{
    background-color: #fff;
    border: solid ;
    border-color: #eeeeee;
    border-radius: 2em;
    margin: 20px 20px;
}

.section h2
{
    display: inline-block;  
    margin: 0px 20px;
    font-size: 22px;
    position: relative;
    top: -0.8em;
    color: #adc90a;
    background-color: white;
}


.techno
{
    display: inline-block;
    padding : 0.2em 0.5em;
    background-color: darkseagreen;
    border: thin;
    border-radius: 1.5em;
    color: white;
    font-weight: bold;
}

.method
{
    
    display: inline-block;
    color: black;
    padding : 0.2em 0.5em;
    background-color: lightgray;
    border: thin;
    border-radius: 1.5em;
    font-weight: bold;
}

.partial_section
{
    background-color: #fff;
    border: solid ;
    border-color: #eeeeee;
    border-radius: 2em;
    margin: 20px 20px;
    width: 50%;
    
}

.partial_section h2
{
    display: inline-block;  
    margin: 0px 20px;
    font-size: 22px;
    position: relative;
    top: -0.8em;
    color: #adc90a;
    background-color: white;
}

.partial_section table
{
    
    margin: 2em;
    width: 80%;
}
.partial_section td
{
     background-color: #ffffff;
    color: black;
    height: 3em;
}
.partial_section th
{
     background-color: #ffffff;
    color: black;
    height: 3em;
}

.left
{
    text-align: left;
    font-weight: bold;
}
